<ui-component name="box" path="common.form" config="if:~PATH~;icon:ti ti-download;title:@(Download components);autofocus:true;reload:?/reload;scrollbar:0;width:1200" class="hidden" plugin="~PATH~">
	<nav>
		<button class="exec" data-exec="?/enterprise"><i class="ti ti-totaljs green"></i>@(Enterprise)</button>
		<button class="exec" data-exec="?/update" is="is-button" path="?.newupdates" config="enable"><i class="ti ti-sync"></i>@(Update all)</button>
	</nav>
	<div>
		<div class="search">
			<ui-component name="searchinput" path="?.search" config="placeholder:@(Search components)"></ui-component>
		</div>
		<ui-component name="viewbox" path="common.form" config="parent:auto;margin:30;scrollbar:1;scrollbarshadow:1">
			<div class="padding">
				<div style="margin:0 0 15px 8px">

					<!--
					<ui-bind path="enterprise.is" config="hide" class="block hidden">
						<div class="message message-success center" style="margin-bottom:15px;font-size:14px;padding:15px">
							<i class="ti ti-totaljs mr5"></i><b>@(Make Total.js Platform better.)</b> @(Join Total.js Enterprise and download premium open-source components and other parts for free.)
						</div>
					</ui-bind>
					-->

					<ui-bind path="enterprise.account" config="template;show:value && value.status=='ok'">
						<script type="text/html">
							<div class="bg-smoke padding m" style="border-radius:var(--radius)">
								<i class="ti ti-totaljs mr5 green"></i>@(Your Total.js Enterprise Account expires on) <i class="ti ti-bull"></i> <b>{{ value.dtexpire | format('[date]') }}</b>
							</div>
						</script>
					</ui-bind>

					<div class="pull-right">
						<span class="link fs12 exec" data-exec="flow/create"><i class="ti ti-plus-circle green mr5"></i>@(Create component)</span>
					</div>
					<ui-component name="input" path="?.approve" config="type:checkbox" default="true">@(Warn about component installation)</ui-component>
				</div>
				<ui-component name="search" path="?.search" config="selector:figure;datasource:?.items">
					<ui-bind path="?.items" config="template" id="flowstreamcomponents">
						<script type="text/html">
							{{ foreach n in value }}
								{{ if n.name && n.name !== '0' }}
								<div class="listing-caption">{{ n.name }}</div>
								{{ fi }}
								<div class="listing-download">
									{{ foreach m in n.items }}
									<figure data-search="{{ m.id }} {{ m.author }}" class="exec{{ if m.installed }} installed{{ fi }}{{ if m.enterprise }} enterprise{{ fi }}" data-exec="?/install" data-id="{{ m.id }}" data-name="{{ m.name }}" data-version="{{ m.version }}" data-url="{{ m.url }}">
										<section>
											<div class="icon" style="background:{{ if m.color }}{{ m.color }}{{ else }}{{ m.groupcolor }}{{ fi }}"><i class="{{ m.icon | empty('fas fa-plug') }}"></i></div>
											<div class="name hellip"><span class="exec readme" data-exec="?/readme" data-prevent="true">@(Read me)</span>{{ if m.newupdate }}<span class="badge badge-green badge-small mr5 newupdate">@(update)</span>{{ fi }}{{ if m.enterprise }}<span class="badge badge-small badge-red mr5">Enterprise</span>{{ fi }}{{ m.name }}</div>
										</section>
									</figure>
									{{ end }}
									<div class="clearfix"></div>
								</div>
								<br />
							{{ end }}
						</script>
					</ui-bind>
				</ui-component>
				<div class="help center m nmt"><i class="ti ti-question-circle"></i>@(Official GitHub repository:) <a href="https://github.com/totaljs/flowstreamcomponents" target="_blank">https://github.com/totaljs/flowstreamcomponents</a></div>
			</div>
		</ui-component>
	</div>
	<nav>
		<button name="cancel" style="width:100%">@(Close)</button>
	</nav>
</ui-component>

<script>

	PLUGIN(function(exports) {

		var refresh = function(url, opt, callback) {
			exports.ajax('GET ' + url, function(response) {

				if (!(response instanceof Array))
					return;

				for (var item of response) {

					var com = flow.components.findItem('name', item.name);
					item.newupdate = com ? item.version.localeCompare(com.version, { numeric: true }) > 0 : false;
					item.installed = com != null;

					if (!item.group)
						item.group = '0';

					if (item.newupdate)
						opt.updates++;

					if (opt.groups[item.group])
						opt.groups[item.group].items.push(item);
					else
						opt.groups[item.group] = { name: item.group, color: Thelpers.color(item.group), items: [item] };

					item.groupcolor = opt.groups[item.group].color;
					item.download = '';
					opt.components.push(item);
				}

				callback();
			});
		};

		exports.enterprise = function() {
			enterprise.edit();
		};

		exports.reload = function() {

			var opt = {};
			opt.updates = 0;
			opt.groups = {};
			opt.components = [];

			var queue = [];

			if (common.components)
				queue.push(next => refresh(common.components, opt, next));

			if (common.components2)
				queue.push(next => refresh(common.components2, opt, next));

			if (enterprise.is)
				queue.push(next => refresh('https://enterprise.totaljs.com/download/flowcomponents/?token=' + enterprise.token, opt, next));

			queue.async(function() {

				var arr = [];
				var keys = Object.keys(opt.groups);

				keys.quicksort();

				for (var key of keys) {
					opt.groups[key].items.quicksort('name');
					arr.push(opt.groups[key]);
				}

				exports.set('newupdates', opt.updates);
				exports.set('components', opt.components);
				exports.set('items', arr);
			});
		};

		exports.check = function() {
			var components = exports.data.components;
			if (components) {
				var container = $('#flowstreamcomponents');
				var updates = 0;
				for (var item of components) {
					var com = flow.components.findItem('name', item.name);
					var is = com ? com.version !== item.version : false;
					if (item.newupdate !== is) {
						item.newupdate = is;
						container.find('figure[data-id="' + item.id + '"]').find('.newupdate').remove();
					}
					if (item.newupdate)
						updates++;
				}
				exports.set('newupdates', updates);
			}
		};

		exports.readme = function(el) {
			var id = ATTRD(el);
			var item = exports.data.components.findItem('id', id);
			FUNC.readme(item.name, item.readme);
		};

		exports.update = function() {
			var model = exports.data;
			EXEC('-approve/show', '@(Are you sure you want to apply all new updates ({0}x)?)'.format(model.newupdates), '"fas fa-sync" @(Update)', function() {
				model.components.wait(function(item, next) {
					if (item.newupdate) {

						var com = flow.components.findItem('name', item.name);
						if (com)
							$('#settings_f' + com.id).remove();

						exports.ajax('GET ' + item.url, function(response) {
							if (typeof(response) === 'string') {
								var meta = FUNC.checkhtml(response);
								if (meta) {
									var model = {};
									model.id = com ? com.id : (meta.id || '');
									model.body = response.trim();
									EXEC('-websocket/send', { TYPE: 'component_save', id: model.id || FUNC.makeid('c'), data: model.body, callback: next });
									return;
								} else
									EXEC('-notify/warning', '@(The HTML body of the component <b>"{0}"</b> is invalid)'.format(item.name.encode()));
							}
							setTimeout(next, 100);
						});

					} else
						next();
				}, function() {
					FREE();
					exports.scope();
					exports.set('mewupdates', 0);
				});
			});
		};

		exports.install = function(el) {

			var id = el.attrd2('id');
			var name = el.attrd2('name');
			var com = flow.components.findItem('name', name);

			if (com) {
				$('#settings_f' + com.id).remove();
				FREE();
			}

			var url = el.attrd2('url');
			var download = function() {
				exports.ajax('GET ' + url, function(response) {
					if (typeof(response) === 'string') {
						var meta = FUNC.checkhtml(response);
						if (meta) {
							var model = {};
							model.id = com ? com.id : (meta.id || '');
							model.body = response.trim();
							EXEC('-loading/show');
							EXEC('-websocket/send', { TYPE: 'component_save', id: model.id || FUNC.makeid('c'), data: model.body, callback: function(response) {
								EXEC('-loading/hide', 200);
								if (response.error)
									EXEC('-notify/warning', '@(The component <b>"{0}"</b> is invalid: {1})'.format(name.encode(), response.error.encode()));
								else
									el.aclass('installed');
							}});
						} else
							EXEC('-notify/warning', '@(The HTML body of the component <b>"{0}"</b> is invalid)'.format(name.encode()));
					}
				});
			};

			if (exports.data.approve)
				EXEC('-approve/show', '@(Are you sure you want to import selected component <b>"{0}"</b>?)'.format(el.attrd2('name')), '"fas fa-cloud-download" @(Import)', download);
			else
				download();

		};

		WATCH('flow.components', function() {
			setTimeout(exports.check, 100);
		});

	});

</script>